 snippet ifmain
 
 def $1():
     pass
  
  
if __name__=='__main__':
    ${1:main}()
endsnippet
  
  
snippet hw

def hello_word():
    print('Hello Word')
 

if __name__ == '__main__':
    hello_word()

endsnippet
