snippet main
def $1():
	pass


if __name__=='__main__':
	${1:main}()
endsnippet


snippet impa "import FOO as BAR" b
import ${1:FOO} as ${2:BAR}
endsnippet


snippet hw
def hello_word():
	print('Hello Word')


if __name__=='__main__':
	hello_word()
endsnippet


snippet print "Print value of some variable"
print("$1".format($2))
$0
endsnippet
